
<h2>Title:  <%= @recipe["title"] %></h2>
<h3>Chef:  <%= @recipe["chef"] %></h3>
<h4>Ingredients: <%= @recipe["ingredients"] %></h4>
<h4>Directions: <%= @recipe["directions"] %></h4>
<img src="<%= @recipe['image_url'] %> alt="">

<a href="/client/recipes/ <% @recipe['id'] %>/edit">Edit</a>
<a href="/client/recipes/ <% @recipe['id'] %>" data-method="delete">Delete</a>
